.login-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.295);
    padding-inline: 10%;

    &:focus-within {
        box-shadow: 0px 0px 0px 2px #4CB1A4;
        color: #4CB1A4;
    }


    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10%;
    }

    .input-1 {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }

        input {
            border: 1px solid rgb(179, 179, 179);
            border-radius: 6px;
            margin-bottom: 5%;
            padding: 15px 10px;
            color: #2C3E50;

            &:focus {
                outline: none;
                border: 2px solid #4CB1A4;;
            }
        }

        .error-message {
            color: #e74c3c;
            font-size: 12px;
            margin-top: -10px;
            margin-bottom: 10px;
        }
    }

    button {
        border: none;
        background: #4CB1A4;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        cursor: pointer;
        font-weight: 700;
        color: #FFFFFF;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}