<div class="contribution-container">
    <app-sidebar/>
    <div class="main-content">
        <h1>My Feedbacks</h1>
        <div class="feedbacks-container" *ngIf="userFeedbacks.length > 0; else noFeedbacks">
            <div class="feedback-card" *ngFor="let feedback of userFeedbacks; let i = index" (click)="viewSession(feedback.sessionId)">
                <div class="feedback-header">
                    <div class="feedback-meta">
                        <span class="material-icons user-icon">account_circle</span>
                        <div class="user-info">
                            <h3>{{ feedback.username }}</h3>
                            <p class="session-name">
                                <span class="material-icons">event_note</span>
                                Session #{{ feedback.sessionId }}
                            </p>
                        </div>
                    </div>
                    <span class="feedback-time">
                        <span class="material-icons">schedule</span>
                        {{ feedback.createdAt | date: 'medium' }}
                    </span>
                </div>
                
                <div class="feedback-content" *ngFor="let sectionItem of userFeedbacks[i].sections">
                    <div class="feedback-section" *ngIf="sectionItem.items?.length">
                        <div class="feedback-type type-went-well">
                        <span class="material-icons"> 
                            {{ 
                                sectionItem.key === 'went-well' ? 'sentiment_satisfied'
                                : sectionItem.key === 'needs-improvement' ? 'build_circle'
                                : 'adjust' 
                            }}
                        </span>
                        <span class="type-label">{{sectionItem.title}}</span>
                        </div>
        
                        <ul class="feedback-list">
                            <li *ngFor="let item of sectionItem.items">{{item}}</li>
                        </ul>
   
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>
<ng-template #noFeedbacks>
    <div class="no-feedbacks">
        <span class="material-icons">feedback</span>
        <p>No feedbacks available</p>
        <small>Your contributions will appear here</small>
    </div>
</ng-template>