/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family-heading: 'Poppins', sans-serif;
    --font-family-body: 'Manrope', sans-serif;

    --color-primary: #007aff;
    --color-primary-dark: #0056b3;
    --color-primary-light: rgba(0, 122, 255, 0.05);
    --color-text-dark: #2c2e3c;
    --color-text-medium: #414350;
    --color-text-light: #6b6d7a;
    --color-text-muted: #9a9ba5;
    --color-border: #eaeaec;
    --color-border-light: #e8e9ed;
    --color-bg-white: #fff;
    --color-bg-gray: #f5f6fa;
    --color-bg-card: #f8f9fc;
    --color-button-border: #40424f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-size: var(--font-size-root);
    font-weight: 300;
    color: var(--color-foreground);
    background-color: var(--color-background);
}

body {
    background-color: var(--color-background);
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-family-heading);
    }
    font-family: var(--font-family-body);
    color: var(--color-foreground);
}